.upcomming-card{
   height: 380px;
   padding: 8px;
   position: relative;
   text-align: left;
   border: 1px;
   border-style: solid;
   border-color: #B0BABF;
   margin: 4px;
   border-radius: 10px;
   background-color: #ffffff;
}

.img-logo{
    height: 280px;
    width: 360px;
    font-size: 10px;
    border-radius: 8px;
}

.upcomming-event-name{
    font-size: 12px;
    padding-left: 20px;
    font-weight: bold;
    color: #1E2022;
}

.event-cityName{
    font-size: 12px;
    color: #989090;
}

.event-weather{
    font-size: 12px;
    color: #989090;
}

.upcomming-event-date{
    font-size: 12px;
    position: absolute;
    transform: translate(-60%, -50%);
    top: 64%;
    left: 25%;
    background-color: transparent;
    text-align: left;
    color: white;
}

.upcomming-card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #989090;
    padding: 2px;
}

.weather-cityName{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}

.align-div{
    margin: 4px;
}